{% extends 'base.html' %}
{% block content %}

<div class="calendar-container">
    <h3>{{ month }} {{ year }}</h3>

    <table class="calendar">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            {% for week in calendar %}
            <tr>
                {% for day in week %}
                    {% if day == 0 %}
                        <td></td>
                    {% elif day == today %}
                        <td class="today">{{ day }}</td>
                    {% else %}
                        <td>{{ day }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
