{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="all-news-page">
    <h4>All Events & Achievements</h4>

    <div class="all-news-container">
        {% for card in page_obj %}
        <div class="news-card">
            <div class="news-img">
                {% if card.image %}
                <img src="{{ card.image.url }}" alt="{{ card.title }}">
                {% else %}
                <img src="{% static 'images/pic3.avif' %}" alt="No image">
                {% endif %}
                <p class="news-date">Date: {{ card.date }}</p>
            </div>
            <div class="news-info">
                <a href="{% url 'news_detail' card.id %}" >
                    <h5 class="card-title" style="font-weight: bold;" >{{ card.title }}</h5>
                    <p>{{card.description|truncatewords:10}}</p>
                </a>
            </div>
        </div>
        {% empty %}
            <p>No events or achievements available.</p>
        {% endfor %}
    </div>

    <!-- pagination -->
    <div class="all-news-pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>

{% endblock %}
