{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="administration-body-page">

    <div class="administration-body-header">
        <h2>Governing Body</h2>
        <p>Patrakhola Arshad Ali High School</p>
    </div>

    <div class="administration-body-container">

        {% for g in governing_body %}
        <div class="administration-card">

            {% if g.photo %}
                <img src="{{ g.photo.url }}" alt="{{ g.name }}">
            {% else %}
                <img src="{% static 'images/no_face.png' %}" alt="{{ g.name }}">
            {% endif %}

            <h5>{{ g.name }}</h5>

            <p>
                <strong>Position:</strong> {{ g.designation }}
            </p>

        </div>
        {% empty %}
            <p style="text-align:center;">No governing body members found.</p>
        {% endfor %}

    </div>

</div>

{% endblock %}
