{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="img_description_container">
    <!-- carousel -->
    <div class="carousel-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <!-- indicators -->
            <div class="carousel-indicators">
                {% for i in carsl %}
                <button type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"
                    aria-current="{% if forloop.first %}true{% endif %}"
                    aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
            </div>

            <!-- slides -->
            <div class="carousel-inner">
                {% for img in carsl %}
                <div class="carousel-item active">
                    <img src="{{img.image.url}}" class="d-block w-100" alt="">
                </div>
                {% endfor %}
            </div>

            <!-- controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- description -->
    <div class="description">
        <h3>লাইব্রেরি পরিচিতি</h3>
        <p>
            আমাদের হাই স্কুল লাইব্রেরি শিক্ষার্থীদের জ্ঞান অর্জন ও সৃজনশীলতা বিকাশের জন্য একটি সমৃদ্ধ পরিবেশ প্রদান করে।
            লাইব্রেরিতে বিভিন্ন বিষয়ে বই, পত্রিকা, সাময়িকী, শিক্ষামূলক উপকরণ এবং ডিজিটাল রিসোর্স রয়েছে, যা
            শিক্ষার্থীদের পড়াশোনা, গবেষণা এবং আত্মশিক্ষার জন্য সহায়ক।

            লাইব্রেরি ব্যবস্থাপনা আধুনিক পদ্ধতিতে সম্পন্ন হয়, যার মধ্যে রয়েছে বই ধার নেওয়া এবং ফেরত দেওয়ার সহজ
            প্রক্রিয়া, নির্ধারিত পাঠক লিস্ট ও কম্পিউটারাইজড ক্যাটালগ। শিক্ষার্থীরা এখানে শান্তিপূর্ণভাবে পড়াশোনা করতে
            পারে এবং শিক্ষকরা শিক্ষামূলক গাইডেন্স প্রদান করেন।

            আমাদের লাইব্রেরি শিক্ষার্থীদের পাঠ্যক্রমের সাথে সম্পর্কিত বই ছাড়াও সাধারণ জ্ঞান, বিজ্ঞান, প্রযুক্তি,
            সাহিত্য ও ইতিহাস সংক্রান্ত বইয়ের একটি বৈচিত্র্যময় সংগ্রহ রাখে। এটি শিক্ষার্থীদের সৃজনশীল চিন্তাভাবনা,
            সমালোচনামূলক বিশ্লেষণ এবং স্বনির্ভর শিক্ষার বিকাশে গুরুত্বপূর্ণ ভূমিকা পালন করে।
        </p>
    </div>
</div>

{% endblock %}