{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="news-detail-container">

    <div class="news-detail-image">
        {% if card.image %}
            <img src="{{ card.image.url }}" alt="{{ card.title }}">
        {% else %}
            <img src="{% static 'images/pic3.avif' %}" alt="No Image">
        {% endif %}
    </div>

    <p class="news-detail-date">Date: {{ card.date }}</p>

    <h2 class="news-detail-title">{{ card.title }}</h2>

    {% if card.description %}
    <p class="news-detail-description">{{ card.description }}</p>
    {% endif %}

    <div class="news-detail-back">
        <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
    </div>

</div>

{% endblock %}
