{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="academic-container">

    <h4>Class Routine</h4>

    <!-- header -->
    <div class="academic-header">
        <div>Class</div>
        <div>Date</div>
        <div>File</div>
    </div>

    <!-- routine list -->
    {% for r in page_obj %}
    <div class="academic-row">
        <div data-label="Class:">{{ r.class_name }}</div>
        <div data-label="Date:">{{ r.published_date }}</div>
        <div data-label="File:">
            <a href="{% url 'routine_download' r.id %}" class="btn-download">Download</a>
        </div>
    </div>
    {% empty %}
    <p class="no-academic">No routine found.</p>
    {% endfor %}

    <!-- pagination -->
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="page-btn">Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="page-btn">Next</a>
        {% endif %}
    </div>

</div>

{% endblock %}
