{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="administration-body-page">

    <div class="administration-body-header">
        <h2>Staffs</h2>
        <p>Patrakhola Arshad Ali High School</p>
    </div>

    <div class="administration-body-container">

        {% for s in staff %}
        <div class="administration-card">

            {% if s.photo %}
                <img src="{{ s.photo.url }}" alt="{{ s.name }}">
            {% else %}
                <img src="{% static 'images/no_face.png' %}" alt="{{ s.name }}">
            {% endif %}

            <h5>{{ s.name }}</h5>

            <p>
                <strong>Position:</strong> {{ s.designation }}
            </p>

        </div>
        {% empty %}
            <p style="text-align:center;">No staff found.</p>
        {% endfor %}

    </div>

</div>

{% endblock %}
