{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="img_description_container">
    <!-- carousel -->
    <div class="carousel-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <!-- indicators -->
            <div class="carousel-indicators">
                {% for i in carsl %}
                <button type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"
                    aria-current="{% if forloop.first %}true{% endif %}"
                    aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
            </div>

            <!-- slides -->
            <div class="carousel-inner">
                {% for img in carsl %}
                <div class="carousel-item active">
                    <img src="{{img.image.url}}" class="d-block w-100" alt="">
                </div>
                {% endfor %}
            </div>

            <!-- controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- description -->
    <div class="description">
        <h3>ইউনিফর্ম পরিচিতি</h3>
        <p>
            ছেলেদের সাদা শার্ট, কালো প্যান্ট,সাদা জুতা এবং মেয়েদের আকাশী নীল কামিজ, সাদা সালোয়ার, সাদা স্কার্ফ, সাদা
            বেল্ট।
        </p>
    </div>
</div>

{% endblock %}