{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="administration-body-page">

    <div class="administration-body-header">
        <h2>Teachers</h2>
        <p>Patrakhola Arshad Ali High School</p>
    </div>

    <div class="administration-body-container">
        <!-- member card -->

        {% for t in teachers %}
        <div class="administration-card">
            
            {% if t.photo %}
                <img src="{{ t.photo.url }}" alt="{{ t.name }}">
            {% else %}
                <img src="{% static 'images/no_face.png' %}" alt="{{ t.name }}">
            {% endif %}

            <h5>{{ t.name }}</h5>

            <p>
                <strong>Designation:</strong> {{ t.designation }}
            </p>

            {% if t.subject %}
                <p>{{ t.subject }}</p>
            {% endif %}

        </div>
        {% empty %}
            <p style="text-align:center;">No teachers found.</p>
        {% endfor %}

    </div>

</div>

{% endblock %}
